* {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    border-radius: 7px;
    box-sizing: border-box;
    
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
    
}
 #comma, #add, #sub, #mul, #div, #enter, #clear{
   color:aqua;
}
button:hover, #comma:hover, #add:hover, #sub:hover, #mul:hover, #div:hover, #enter:hover, #clear:hover{
    color: green;
    font-weight: bolder;
    
}

body  {
    background-color: black;
    width: 100%;
}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

main section#keyBoard {
    /** Grid eller liknade */
    display: grid;
    height: 70rem;
}

